version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspaces/arch-ph-ui-web:cached
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    command: sleep infinity
    container_name: arch-ph-ui-web-container
